*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Concert One";
  font-size: 16px;
}

input {
  font-family: sans-serif;
  height: 40px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 18px;
  border: dotted,grey;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin: 10px;
  
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}
li button {
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff9500;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #febc5d;
}

button{
  margin:3px;
}
